/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v30-latin-100.eot');
  src: url('../fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-100.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-100.woff') format('woff'),
  url('../fonts/roboto-v30-latin-100.ttf') format('truetype'),
  url('../fonts/roboto-v30-latin-100.svg#Roboto') format('svg');
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v30-latin-300.eot');
  src: url('../fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-300.woff') format('woff'),
  url('../fonts/roboto-v30-latin-300.ttf') format('truetype'),
  url('../fonts/roboto-v30-latin-300.svg#Roboto') format('svg');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.eot');
  src: url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-500.woff') format('woff'),
  url('../fonts/roboto-v30-latin-500.ttf') format('truetype'),
  url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.eot');
  src: url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-700.woff') format('woff'),
  url('../fonts/roboto-v30-latin-700.ttf') format('truetype'),
  url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
}

/* forum-regular - latin */
@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/forum-v16-latin-regular.eot');
  src: url('../fonts/forum-v16-latin-regular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/forum-v16-latin-regular.woff2') format('woff2'),
  url('../fonts/forum-v16-latin-regular.woff') format('woff'),
  url('../fonts/forum-v16-latin-regular.ttf') format('truetype'),
  url('../fonts/forum-v16-latin-regular.svg#Forum') format('svg'); }