.art-gallery{
  padding-top: 60px;
  background-color: #030303;
}

.art__title{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.art__box{
  display: flex;
  justify-content: space-between;
}

.art__inner{
  display: flex;
  flex-direction: column;
}

.art__inner:nth-child(2n+1){
  margin-top: 48px;
}

@media screen and (max-width:1385px) {
  .art__box{
    justify-content: space-around;
  }
  
  .art__inner:nth-child(2n){
    display: none;
  }
}

@media screen and (max-width:940px){
  .art__imgs{
    width: 352px;
  }
}

@media screen and (max-width:740px){
  .art__inner:nth-child(2n){
    margin-top: 0;
  }
  
  .art__inner:nth-child(3n){
    margin-top: 34px;
  }
  
  .art__imgs{
    width: 178px;
    height: 223px;
  }
  
  .no-head{
    width: 178px;
    height: 93px;
  }
  
  .surroundings-louver{
    width: 178px;
    height: 178px;
  }
  
  .louver{
    width: 178px;
    height: 133px;
  }
}

@media screen and (max-width:477px){
  .art__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
  }
}

@media screen and (max-width:360px){
  .art__imgs{
    width: 150px;
  }
  
  .no-head{
    width: 150px;
  }
  
  .surroundings-louver{
    width: 150px;
  }
  
  .louver{
    width: 150px;
  }
}