.virtual{
  padding-top: 75px;
  padding-bottom: 75px;
}

.virtual__h2{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  color: #9D8665;
}

.virtual__hr{
  max-width: 1440px;
  height: 3px;
  background-color: $title-color;
  color: $title-color;
  border: none;
}

.virtual__list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.virtual__icon{
  width: 440px;
  height: 424px;
  margin-bottom: 75px;
  margin-top: 75px;
  margin-right: 40px;
  transition: 0.3s;
}

.virtual__icon:hover{
  transform: scale(1.2);
}

.virtual__icon:nth-child(3n){
  margin-right: 0;
}

.virtual__img{
  width: 440px;
  height: 285px;
}

.virtual__h3{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
}

.icon__hr {
  max-width: 300px;
  height: 2px;
  background-color: $title-color;
  color: $title-color;
  border: none;
  margin: 0;
}

.icon__deg {
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}

.icon__p{
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}


@media screen and (max-width:1470px) {
  .virtual__list{
    justify-content: space-around;
  }
  
  .virtual__icon{
    margin-right: 0;
  }
}

@media screen and (max-width:970px){
  .virtual__icon{
    width: 280px;
    height: 301px;
    margin-right: 40px;
  }
  
  .virtual__icon:nth-child(3n){
    margin-right: 40px;
  }
  
  .virtual__img{
    width: 280px;
    height: 180px;
  }
  
  .virtual__h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }
  
  .icon__deg{
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
  }
  
  .icon__p{
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width:405px){
  .virtual__h2{
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
  }
  
  .virtual__list{
    padding: 0;
  }
  
  .virtual__icon{
    margin-right: 0;
  }
  
  .virtual__icon:nth-child(3n){
    margin-right: 0;
  }
}